.all {
  width: 100%;
  background-color: #f8f9fa;
}

.allContent {
  width: 1280px;
  height: 176px;
  margin: auto;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.allContent .g1,
.allContent .g2,
.allContent .g3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
}

.allContent h3 {
  font-weight: 500;
  opacity: 0.8;
  margin: 10px 0 -10px 0;
}

.allContent p {
  opacity: 0.6;
}
