.all {
  width: 1280px;
  margin: auto;
}

.cartBanner {
  width: 100%;
  height: 200px;

  background-color: #f8f9fa;
  margin: 87px 0 52px 0;

  display: flex;
}

.cartBanner h1 {
  margin: auto 0 auto 60px;
  font-style: italic;
  font-weight: 500;
}

.cartBanner span {
  margin: auto 60px auto auto;
  font-weight: 600;
  font-style: italic;

  color: #b2b0ae;
}

.all h2 {
  font-style: italic;
  font-weight: 500;

  letter-spacing: 1px;
}
