.all {
  height: 1000px;
  width: 1280px;
  margin: 55px auto -55px auto;
}

.shopBanner {
  width: 100%;
  height: 200px;

  background-color: #f8f9fa;
  margin: 87px 0 52px 0;

  display: flex;
}

.shopBanner h1 {
  margin: auto 0 auto 60px;
  font-style: italic;
  font-weight: 500;
}

.shopBanner span {
  margin: auto 60px auto auto;
  font-weight: 600;
  font-style: italic;

  color: #b2b0ae;
}
